html,
body+ {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

ul,h1,h2,p {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 47px;
	position: relative;
}
h1:before {
	content: "";
	position: absolute;
	top: -40px;
	width: 100px;
	height: 7px;
	background: #000;

}
a {
	text-decoration: none;
	display: block;
	color: #000;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

/*---------------------------------------------Header-----------------------------------------------------*/

.header {
	background-color: #ffe27f;
	margin-top: 40px;
	position: relative;
	min-height: 300px;
	border-top: 1px solid #ffe27f;
	
}

/*-------------------------------LOGO*/

.logo {
	text-transform: uppercase;
	font-size: 48px;
	position: absolute;
	top: -30px;
	left:-7px;
	font-weight: 700;
	margin-left: 60px;
	transition: all 0.3s;
	
}

.logo a:hover {
	color: #444444;
}

.logo a:active {
	color: #666666;
}

.main-navigation,
.second-navigation {
	width: 1040px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/*-----------------------------------main-nav*/

.main-navigation {
	margin-top: 30px;

}

/*-----------------search*/

.searching form {
	position: relative;

}

.icon-search {
	position: absolute;


	width: 16px;
	height: 16px;

	top: 17px;
	left: 8px;
	background: url(../img/search.png) no-repeat;

	z-index: 1;
}

.searching input {
	margin: 0;
	padding: 0;
	background-color: #ffe27f;
	border: none;


}

.searching input[type=submit] {
	width: 85px;
	height: 50px;
	border: 2px solid #000;
	opacity: 0;
	margin-left: -4px;
	margin-bottom: -1px;
	transition: background 0.3s;
	
}

.searching input[type=submit]:hover {
	color: #fff;
	background: #000;
}

.searching input[type=submit]:active {
	color: rgba(0, 0, 0, 0.3);
	
}

.searching input[type=search] {
	position: relative;

	width: 360px;
	height: 48px;
	padding-left: 40px;



}

.searching input[type=search]::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}

/*searching hover/focus-----------------------------------*/

.searching input[type=search]:focus::-webkit-input-placeholder {
	color: #000;

}

.searching input[type=search]:focus {
	border-bottom: 2px solid;
	outline: none;

}

.searching input[type=search]:focus + input[type=submit] {

opacity: 1;


}

/*end searching---------------------------------*/

.user-menu {
	margin: 0;
	padding: 0;
	display: flex;


	min-width: 500px;
	justify-content: space-between;
	align-items: center;

}

.user-menu a {
	padding-left: 25px;
	position: relative;
	transition: all 0.5s;
}

.user-menu a:after {
	position: absolute;
	display: block;
	content: '';
	width: 13px;
	height: 12px;
	transition: all 0.3s;
	top: 3px;
	left: 4px;



}

.user-menu-item:nth-child(2) {
	margin-left: 200px;
}

.user-menu-item:nth-child(1) > a:after {
	background: url(../img/user.png) no-repeat;
	background-position: center;
}

.user-menu-item:nth-child(2) > a:after {
	background: url(../img/compare.png)no-repeat;
	background-position: center;
}

.user-menu-item:nth-child(3) > a:after {
	background: url(../img/cart.png)no-repeat;
	background-position: center;
}

/*hover/active for user-menu----------------------*/

.user-menu a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.user-menu a:hover:after {
	opacity: 0.6;
}

.user-menu a:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-menu a:active:after {
	opacity: 0.3;
}

/*----------second-nav---------------------------------*/

.second-navigation {
	margin-top: 25px;
}

.navigation-info-item a {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.3s;
}

.navigation-info {
	display: flex;
	justify-content: space-between;
	width: 1040px;

}

.navigation-info-item:nth-child(2) {
	margin-left: 200px;
}

.navigation-info-item:nth-child(3) {
	margin-left: -50px;
}

.navigation-info-item a:hover {
	opacity: 0.6;
}

.navigation-info-item a:active {
	opacity: 0.3;
}

.catalog-info a {
	position: relative;
	padding-bottom: 40px;
	padding-right: 40px;
}

.catalog-info a:after,
.catalog-info a:before {
	
	position: absolute;
	content: "";
	width: 15px;
	height: 2px;
	background: #000;
	right: 0px;
	top: 8px;
	
}

.catalog-info a:before {

	transform: rotate(90deg);

}
/*------------------------podcatalog-----------------*/

.catalog {
	position:relative;
	display: flex;
	visibility: hidden;
	opacity:0;
	transition: all 0.5s;
	background-color: #ffe393;
	z-index: 999;


		
}

.catalog a {
	font-size: 15px;
	line-height: 36px;
	transition: all 0.2s;
		
	
}
.catalog a:hover {
	opacity: 0.6;
}
.catalog a:active {
	opacity: 0.3;
}
.catalog-item {
	margin-left: 60px;
	margin-top: -10px;
	padding-bottom: 40px;
	
}
.show-catalog {
	display: flex;
	visibility: visible;
	opacity: 1;
}
/*-------------------end podcatalog-------------------*/


/*-----------SLIDER--------------------------------------*/
.slider-container {
	position: relative;
	min-height: 480px;
	outline:1px solid red;

}
#btn1,#btn2,#btn3 {
	display: none;
}
.slider-control {
	position: absolute;
	display: block;
	height: 10px;
	width:160px;
	text-align: center;
	z-index: 10; 

}
.slider-control label{
	display: inline-block;
	width:2px;
	height:2px;
	border: 3px solid #000;
	border-radius: 50%;
	margin-left: 15px;
	opacity: 0.3;
	
}
#btn1:checked ~ .slider-control label[for='btn1'], 
#btn2:checked	~ .slider-control label[for='btn2'], 
#btn3:checked	~ .slider-control label[for='btn3'] {
		opacity: 1;
} 
.slider {
	position: absolute;
	left: 60px;
	bottom:100px;
	min-height:500px;
	min-width: 1040px;
	outline:1px solid red;

}
.slider-third,
.slider-second {
	display: none;
}
.slider > .slider-info {
	max-width: 500px;
	margin-left: auto;
	margin-top: 90px;
}
.slider .slider-info > h1:before,
.slider .slider-info > h1:after{
	background: #fff;
}
.slider .slider-info > h1:after {
	content: "01";
	display:block;
	position: absolute;
	top:-120px;
	right: 20px;
	font-size: 180px;
	color:#fff;
	background: transparent;

	
}
.slider .slider-info > p {
	font-size: 15px;
	color:#444444;
	margin-top: 20px;
	line-height: 30px;
}

.slider .info-link-slider {
	margin-top: 40px;
}

/*---------all device-link*/
.device-link {
	position: relative;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	width: 220px;
	text-align: center;
	padding: 5px 0;
	transition: all 0.3s ease;

}
.device-link:before {
	content:'';
	position: absolute;
	display: block;
	width: 220px;
	height: 8px;
	top: 11px;
	z-index: -1;
	background: #ffc600;
	
}
.device-link:hover {
	background: #ffc600;
	transition: all 0.5s ease;
}
.device-link:active {
	background: #ffc600;
	color:rgba(0, 0, 0, 0.3);
}
/*----------------------------------*/
.slider .slider-characteristic {
	display: flex;
	margin-top: 50px;
}
.slider .slider-characteristic .slider-characteristic-item {
	margin-right: 50px;
}
.slider .slider-characteristic .slider-characteristic-item h2 {
	font-size:36px;
	font-weight: 100;
	
}
.slider .slider-characteristic .slider-characteristic-item p {
	font-size:13px;
	line-height: 20px;
	margin-top: 10px;
	color:#444444;
}
.slider-first {
	background: url(../img/slider-1.png) no-repeat 5% 0;
}
